<!--========== HEADER ==========-->
<header class="header">
  <div class="header__container">
    <img src="/img/undraw_male_avatar_323b.svg" alt="" class="header__img" />

    <a href="/inicio" class="header__logo">CRM Colpatria</a>

    <div class="header__user">
      {{user.CRE_CNOMBRE}} {{user.CRE_CNOMBRE2}} {{user.CRE_CAPELLIDO}} {{user.CRE_CAPELLIDO2}} - {{user.rpermiso.PER_CNIVEL}}
    </div>

    <div class="header__toggle">
      <i class="bx bx-menu" id="header-toggle"></i>
    </div>
  </div>
</header>