<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='shortcut icon' type='image/x-icon' href='/img/iconoT.PNG' />
    <!--========== ICONS ==========-->
    <link rel='stylesheet' href='/css/boxicons.css' />
    <!-- Google Fonts -->
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link href='/font/Montserrat-Medium.ttf' type='font/ttf' />
    {{! <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet" /> }}
    {{! <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;600&display=swap" rel="stylesheet"> }}
    {{#if login}}
      <link rel='stylesheet' href='/css/styleLogin.css' />
    {{else}}
      <!-- Materialize -->
      <link rel='stylesheet' href='/css/materialize.min.css' />
      {{! <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" /> }}
    {{/if}}
    <!-- Custom CSS -->
    <link rel='stylesheet' href='/css/styleGlobal.css' />
    <link rel='stylesheet' href='/css/dataTables.bootstrap4.css' />
    <link rel='stylesheet' href='/css/styleMain.css' />
    <link rel='stylesheet' href='/css/styleHeaderNav.css' />
    <link rel='stylesheet' href='/css/style404.css' />
    <link rel='stylesheet' href='/css/styleLoader.css' />
    <link rel='stylesheet' href='/css/styleDashboard.css' />
    <link rel='stylesheet' href='/css/styleSidebar.css' />
    <link rel='stylesheet' href='/css/stlyeInforme.css' />
    {{#if dash}}
      <link rel='stylesheet' href='/css/styleReporting.css' />
    {{/if}}
    {{! Datatables }}
    <link rel='stylesheet' type='text/css' href='/css/buttons.bootstrap4.min.css' />
    <!-- Custom CSS -->
    <script src='/js/jQuery.js'></script>
    <link rel="stylesheet" href="/css/dataTables.bootstrap4.css">
    <title>{{title}}</title>
  </head>
  <body>
    {{#if user}}
      {{!-- {{> header}} --}}
      {{> messages}}
      {{> sidebar}}
        <section class='home-section'>
          <div class='home-content'>
            <i class='bx bx-menu'></i>
          </div>

          <div id='main' class='main'>
                {{!-- cuando se hace un render, en esta variable se guarda la vista  --}}
                {{{body}}}
          </div>
        </section>
    {{else}}
      {{{body}}}
      {{> messages}}
    {{/if}}

    <input type="text" id="inpNombreUser" value="{{user.CRE_CNOMBRE}} {{user.CRE_CAPELLIDO}}" hidden>
    <input type="text" id="inpIDuser" value="{{user.rpermiso.PKPER_NCODIGO}}" hidden>
    <input type="text" id="inpNivelUser" value="{{user.rpermiso.PER_CNIVEL}}" hidden>
    {{! Loader }}
    <section id='containerLoader' class='containerLoader hidden'>

      <div class='loader'>
        <span style='--i:1;'></span>
        <span style='--i:2;'></span>
        <span style='--i:3;'></span>
        <span style='--i:4;'></span>
        <span style='--i:5;'></span>
        <span style='--i:6;'></span>
        <span style='--i:7;'></span>
        <span style='--i:8;'></span>
        <span style='--i:9;'></span>
        <span style='--i:10;'></span>
        <span style='--i:11;'></span>
        <span style='--i:12;'></span>
        <span style='--i:13;'></span>
        <span style='--i:14;'></span>
        <span style='--i:15;'></span>
        <span style='--i:16;'></span>
        <span style='--i:17;'></span>
        <span style='--i:18;'></span>
        <span style='--i:19;'></span>
        <span style='--i:20;'></span>
      </div>
      <div id='textLoader' class='text-loader'>
        Cargando...
      </div>
      <div id="progresoLoader" class='text-loader displayNone'>
      </div>
      <div id="navegarOtras" class='text-loader displayNone'>
        <a href="/" target="_blank" rel="noopener noreferrer">Navegar otras secciones <i class='bx bx-link-external'></i></a>
      </div>
      <div>
        {{!-- <button id="detenerProceso" class="btn" type="button" style="margin-top: 2rem; font-weight: 600">Detener <i class='bx bx-stop-circle'></i></button> --}}
      </div>
    </section>
    <script src='/sweetalert2.all.min.js'></script>
    <script src='/js/global.js'></script>

    {{#if user}}
      <script src='/js/sidebar.js'></script>
    {{/if}}
    <script src='/js/config.js'></script>
    <script src='/js/materialize.min.js'></script>
    <script src='/dist/boxicons.js'></script>
    {{! Datatables }}
    <script type='text/javascript' src='/js/datatable/jszip.min.js'></script>
    <script type='text/javascript' src='/js/datatable/pdfmake.min.js'></script>
    <script type='text/javascript' src='/js/datatable/vfs_fonts.js'></script>
    <script type='text/javascript' src='/js/datatable/jquery.dataTables.min.js'></script>
    <script type='text/javascript' src='/js/datatable/dataTables.bootstrap4.min.js'></script>
    <script type='text/javascript' src='/js/datatable/dataTables.buttons.min.js'></script>
    <script type='text/javascript' src='/js/datatable/buttons.bootstrap4.min.js'></script>
    <script type='text/javascript' src='/js/datatable/buttons.html5.min.js'></script>
  
  </body>
</html>